name: Build avrdude with Emscripten

on:
  push:
    tags:
      - v*

permissions:
  id-token: write  # OIDC with npmjs
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: sudo apt update && sudo apt install gcc-avr avr-libc freeglut3-dev arduino-core-avr libsimavr-dev libsimavrparts1

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      - name: Build SimAVR
        run: yarn build:simavr

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build NPM Module
        run: yarn build

      - name: Publish to NPM
        run: npm publish --access public
